@tailwind base;

@tailwind components;

@tailwind utilities;

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Poppins, sans-serif;
}

body {
    margin: 0;
    line-height: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (min-width: 928px) {
    .custom_col.md\+\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .custom_col.lgc\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .custom_col.xlc\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .custom_col.xlc\:grid-cols-4 {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
}

@media (min-width: 1536px) {
    .custom_col.\32xlc\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .custom_col.\32xlc\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .custom_col.\32xlc\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .custom_col.\32xl\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .custom_col.\32xl\:grid-cols-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }
}

@media (min-width: 1848px) {
    .custom_col.\33xlc\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .custom_col.\33xlc\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .custom_col.\33xlc\:inline-flex {
        display: inline-flex;
    }

    .custom_col.\33xlc\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .custom_col.\33xlc\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}