.logo-header {
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.logo-header-position {
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 25px 0 0;
}

.header-carousel-anime {
    box-shadow: black 0 0 13em 3em inset;
}